.btn {
  text-decoration: none;
  outline: none;
  display: inline;
  color: white;
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #7d9995 0%,
    #261a75 51%,
    #7d9995 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.btn:hover {
  background-position: right center;
}
